/* start Global rule  */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "Cairo", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: white;
}


ul {
    list-style: none;
}




.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global rule  */

/* start varibles  */

:root {
    --pading: 60px;
    --main-color: #2196F3;
    --background-color: #ECECEC;
}

.special-heading {

    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;

    margin-bottom: 40px;


}

.special-heading h2 {

    text-transform: uppercase;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin: 0 auto;

}



/* end varibles  */


/* start header */

.head {}

.head .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: black;
    flex-wrap: wrap;
}

.head .container h2 {
    text-transform: capitalize;
    color: var(--main-color);
}

/* إخفاء الـ links بشكل افتراضي */
.links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    top: 100%;
    /* يظهر أسفل العنصر */
    left: 0;
    width: 100%;
    /* عرض الـ links */
}

/* عند عمل hover على آخر li في الـ head */
.head-ul li.li-last:hover .links {
    display: flex;
    /* يظهر الـ links */
    flex-direction: row;
    /* ترتيب العناصر بشكل أفقي */
    gap: 20px;
    /* المسافة بين العناصر */
}

/* تنسيقات إضافية */
.head-ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

.head-ul li {
    padding: 10px 20px;
    color: white;
    position: relative;
}

.head-ul li:hover {
    background-color: #555;
}

.links a {
    color: black;
    padding: 5px 0;
    text-decoration: none;
    display: block;
}

.links a:hover {
    background-color: #ddd;
}


.head .links img {
    flex-basis: 50%;
    height: 200px;


}

.head .links .links-ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
}

.head .links .links-ul a {
    text-decoration: none;
    color: var(--main-color);

}

.head .links .links-ul li {
    padding: 10px;
    color: var(--main-color);
    width: 120px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}



.head .container .links-ul li:hover {
    transition: 0.5s;
    background-color: #FAFAFA;
}

.head .links .links-ul li i {
    margin-right: 10px;
}




/* end header */




/* start landing  */


.landing {
    padding-top: var(--pading);
    padding-bottom: var(--pading);
    position: relative;
    background-color: white;
    overflow: hidden;
    padding: 160px;
}

.landing::before {
    content: "";
    background-color: #cccccc68;
    position: absolute;
    height: 105%;
    width: 100%;
    left: 0;
    top: 0px;
    transform: skewY(-6deg);
    transform-origin: top left;
}


.landing .container {
    position: relative;
    /* background-color: #e11313; */
    display: flex;
    text-align: center;
    align-items: center;
    color: black;

}

.landing .container .text {
    padding: 20px;
}

.landing .container .text h2 {
    font-size: 30px;
    margin-bottom: 10px;
    padding: 10px;

}

.landing .container .text p {
    line-height: 1.6;
    padding: 10px 0;
    color: #777;
    max-width: 100%;
}

.landing .container img {
    position: relative;
    height: 300px;
    animation: up-and-down 5s linear infinite;

}

.landing a {
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
    left: 50%;
    animation: up 1.5s infinite;

}

.landing a i {}

@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes up {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* end landing  */

/* start aricles  */

.articles {
    padding-top: var(--pading);
    padding-bottom: var(--pading);
    position: relative;
}



.articles .container {}

.articles .container-box {
    /* background-color: white; */
    color: black;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
}

.articles .container-box .box {
    background-color: #FFFFFF;
    flex-basis: 23%;
    margin: 50px auto;
    border-radius: 6px;
    position: relative;
    z-index: 100;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.articles .container-box .box:hover {
    position: relative;
    transform: translateY(-20px);
    transition: 0.3s;

}

.articles .container-box .box h2 {
    padding: 10px;
    text-transform: capitalize;
}

.articles .container-box .box p {
    line-height: 1.6;
    padding: 10px;
    border-bottom: 1px solid #777;
    color: #777;
}

.articles .container-box .box span {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-transform: capitalize;
    color: var(--main-color);
}

.articles .container-box .box i {
    display: inline-block;
    margin-left: 0;
    color: var(--main-color);
}


.articles .container-box img {
    max-width: 100%;
    width: 100%;

}

/* end aricles  */

/* start gallery  */

.gallery {
    padding-top: var(--pading);
    padding-bottom: var(--pading);
    background-color: #ECECEC;
    position: relative;
}

.gallery .container .special-heading {
    background-color: #ECECEC;

}

.gallery .container .box-image {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    text-align: center;
    align-items: center;
    justify-content: space-around;

}

.gallery .container .box-image img {
    flex-basis: 25%;
    max-width: 100%;
    margin-top: 20px;
    width: 200px;
    border: 10px solid white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .box-image img:hover {
    transform: rotate(5deg) scale(1.1);
    transition: 0.3s;
}


/* end gallery  */


/* start Feature  */

.Feature {
    padding-top: var(--pading);
    padding-bottom: var(--pading);

}

.Feature .box-feature {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    position: relative;

}

.Feature .box-feature .box {
    flex-basis: 30%;
    background-color: white;
    gap: 20px;
    color: black;
    position: relative;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;

}

.Feature .box-feature .box img {
    max-width: 100%;
}

.Feature .box-feature .box h2 {
    margin: 15px;
    padding: 10px;
    text-transform: capitalize;
    font-size: 30px;
    position: relative;
    width: fit-content;
    margin: auto;
    border-bottom: 3px solid var(--main-color);
}



.Feature .box-feature .box p {
    color: #777;
    padding: 20px 20px 30px;
}

.Feature .box-feature .box a {
    text-decoration: none;
    border: 3px solid black;
    width: fit-content;
    display: block;
    padding: 20px;
    position: relative;
    margin: 20px auto;
    border-radius: 6px;
    color: black;
    padding: 15px 30px;
    font-weight: bold;
    text-transform: capitalize;
}



/* end Feature  */

/* start testimomials  */

.testimomials {
    padding: var(--pading);
    padding-bottom: var(--pading);
    background-color: var(--background-color);
}

.testimomials .container .special-heading {
    background-color: var(--background-color);
}

.testimomials .testimomials-box {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.testimomials .testimomials-box .box {
    background-color: white;
    color: black;
    flex-basis: 28%;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimomials .testimomials-box .box img {
    position: absolute;
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    right: -70px;
    top: -40px;
    background-color: #777;
    border: 15px solid var(--background-color);

}

.testimomials .testimomials-box .box i {
    padding: 5;
    margin-left: 5px;
}

.testimomials .testimomials-box .box h2 {
    padding: 10px;
}

.testimomials .testimomials-box .box p {
    padding: 10px;
    line-height: 1.6;
    color: #777;
}

.testimomials .box .star-1,
.star-2,
.star-3 :not(:last-child) {
    /* background-color: yellow; */
    color: yellow;
}

.testimomials .testimomials-box .box .star-4,
.star-5 :nth-child(-n+3) {
    /* background-color: yellow; */
    color: yellow;
}

/* end testimomials  */